.login-form{
    width: 20vw;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: 0;
    background: var(--ps-color-gs5);
    justify-content: center;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
}
.login-form-title{
    width: 100%;
    font-size: 2rem;
    text-align: center;
}
.login-form-form{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-form-label{
    width: 100%;
    padding: 0 30px;
    font-size: 1rem;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--ps-color-gs1);
    font-weight: 410;
}
.login-form-input{
    width: 80%;
    background: transparent;
    padding: 10px 15px;
    border: none;
    outline: none;
    border: 1px var(--ps-color-gs4) solid;
    border-radius: 7px;
    font-size: 1rem;
    color: var(--ps-color-gs1);
    margin-bottom: 10px;
}
.login-form-button{
    width: 150px;
    background: var(--ps-color-green2);
    padding: 10px;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    color: var(--ps-color-gs5);
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}
.login-form-button:hover{
    background: var(--ps-color-green4);
    transition-duration: 0.2s;
}
.login-form-swap{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}
.login-form-link{
    color: var(--ps-color-green2);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.login-form-link:hover{
    color: var(--ps-color-green4);
    transition-duration: 0.2s;
}
.login-form-image{
    width: 200px;
    margin-top: 50px;
}
.login-form-version{
    width: 100%;
    text-align: right;
    font-weight: 500;
    color: var(--ps-color-gs3);
    align-self: flex-end;
    margin: 15px;
}