.room-card{
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.room-card:hover {
    transform: translateY(-10px);
}
.room-card-image{
    width: 100%;
    height: auto;
    object-fit: cover; 
    aspect-ratio: 16 / 9;
    transition: transform 0.3s ease;
}
.room-card:hover .room-card-image {
    transform: scale(1.05);
}
.room-card-content{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
}
.room-card-title{
    color: var(--ps-color-gs2);
    font-size: 1.2rem;
    width: 100%;
}
.room-card-description{
    width: 100%;
    font-size: 0.8rem;
    text-align: justify;
}
.room-card-info{
    width: 100%;
    font-weight: 600;
    text-align: left;
    font-size: 0.8rem;
    color: var(--ps-color-green1)
}
.room-card-info-button{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--ps-color-blue2);
    color: var(--ps-color-gs5);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.2s;
}
.room-card-info-button:hover{
    background: var(--ps-color-blue1);
    transition-duration: 0.2s;
}
.room-card-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--ps-color-green1);
    color: var(--ps-color-gs5);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.2s;
}
.room-card-button:hover{
    background: var(--ps-color-green3);
    transition-duration: 0.2s;
}
.room-card-delete-button{
    position: absolute;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background: var(--ps-color-red2);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.2s;
}
.room-card-delete-button:hover{
    background: var(--ps-color-red1);
    transition-duration: 0.2s;
}