.specific-reviews-layout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.specific-reviews-layout-no-reviews{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}
.specific-reviews-layout-show{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}
.specific-reviews-layout-show-button{
    width: 150px;
    padding: 8px 22px;
    border-radius: 10px;;
    border: none;
    color: var(--ps-color-gs5);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}
.specific-reviews-layout-show-button-more{
    background: linear-gradient(to left, var(--ps-color-green2), var(--ps-color-green1));
    transition-duration: 0.2s;
}
.specific-reviews-layout-show-button-more:hover{
    background: linear-gradient(to left, var(--ps-color-green3), var(--ps-color-green2));
    transition-duration: 0.2s;
}
.specific-reviews-layout-show-button-less{
    background: linear-gradient(to left, var(--ps-color-red2), var(--ps-color-red1));
    transition-duration: 0.2s;
}
.specific-reviews-layout-show-button-less:hover{
    background: linear-gradient(to left, var(--ps-color-red3), var(--ps-color-red2));
    transition-duration: 0.2s;
}